<h1>Chefs Show Page</h1>

<div class="Chefs-Show-Page" id="chef-info">
  <h2><%= @chef.name %></h2>
    <p><%= link_to "View Ingredients", "/chefs/#{@chef.id}/ingredients" %></p>

    <div id="three-popular-ingredients">
      <h2>Chef's Personal Favorite Spectatcular three favorite ingredients</h2>
      
    </div>
</div>
