<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>
<ul>
Ingredients:
<% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>
</ul>
Chef: <%= @dish.chef.name %>